:root
{
    --color-primary: #0d6efd
}

body
{
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}


// Right side
.app-end
{
    width: 100%;
    height: 100%;

    min-width: 15rem;
    max-width: 48rem;

    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

    overflow-y: auto;
}

.auth-card
{ 
    width: 28rem;
    border-radius: 8px;
}


// Servicios
.tab-services
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.service
{
    background-color: white;
    transition: all .2s ease;
    cursor: pointer;

    &-selected
    {
        p { color: white; } 
        background-color: var(--color-primary);
        transform: scale(1.02);
    }
    &:not(.service-selected):hover
    {
        background-color: darken(white, 15);
        transform: scale(1.02); 
    }

    //
    &-price
    {
        color: var(--color-primary);
        font-weight: bold;
    }
}


// Media
@media(max-width: 480px)
{
    .nav { flex-direction: column; }
    .tab-services { grid-template-columns: 1fr; }
    #summary-book-btn { width: 100%; }
}


@media(max-width: 768px)
{
    body 
    {
        flex-direction: column;
        .h1 { text-align: center; }
    }

    //
    body { background-image: none; }
    .app-start
    {
        background-image: url("../img/background.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 25rem;
    }
    .app-end
    {
        background: linear-gradient(180deg, rgba(8,4,0,1) 0%, rgba(24,10,0,1) 100%);
    }
}


//
.error404
{
    height: 100%;

    &-img
    {
        width: 100%;
        min-width: 8rem;
        max-width: 20rem;

        &w { filter: invert(100); }
    }
}